.sheet {
  font-size: 20px;
}

.sheet h1,
.sheet h2,
.sheet h3,
.sheet h4 {
  color: darkred;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.sheet .form-identity {
  border: none;
}

.sheet .form-identity label {
  display: grid;
  gap: 1em;
  grid-template-columns: 50px 300px;
  margin-bottom: 0.5em;
  width: 350px;
}
