.sheet {
  font-size: 22px;
}

.sheet h1,
.sheet h2,
.sheet h3,
.sheet h4 {
  color: darkred;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/** Hide the add/modify buttons for the repeated class descriptions **/
[data-groupname="repeating_descriptions"] button {
  display: none;
}
